/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__jpg {
  width: 100%;
}
.header .header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
    
  .header { 
    text-align: center;
  }

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.input-task,
.label-task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  font-size: 18px;
}
.section-add-item__wrapper {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
li,
h1, 
h3 {
  list-style: none;
}
input,
button{
  outline: none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3A3a;
}
/* Heading */
h1,
h3,
.section-add-item__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.input-task {
  margin: 0;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.input-task:focus {
  color: #333;
}

/* New Task */
.section-add-item__label {
  display: block;
  margin: 0 0 20px;
}
.input-task_long-width {
  width: 318px;
}


/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.checkbox {
  margin: 0 10px;
}
.label-task {
  padding-left: 10px;
  box-sizing: border-box;
  width: 226px;
}
.input-task_short-width {
  width: 226px;
}
.button-delete:hover {
  color: #CF2323;
}
.button-delete__svg {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button-delete__svg:hover {
  transform: rotateZ(0);
}

/* Completed */
.task_text-cross-out {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.input-task_edit-mode {
  display: none;
}

.edit-mode .input-task_edit-mode {
  display: inline-block;
  width: 224px;
}

.edit-mode .label-task_none {
  display: none;
}